{# On étend notre layout #}
{% extends "::layout.html.twig" %}



{# Dans notre layout, il faut définir le block body #}
{% block body %}
<div class="container">
    <h3>{{ killer.name }}</h3>
    
    
    <div class="well">
      {% if killer.dateBegin is not null %}
        Date debut du Killer : {{ killer.dateBegin|date('Y-m-d') }}
      {% endif %}
      <br />
      {% if killer.dateEnd is not null %}
        Date fin du Killer : {{ killer.dateEnd|date('Y-m-d H:i:s') }}
      {% endif %}
      {% if killer.dateBegin is not null %}
        Est créé par {{ killer.dateBegin|date('Y-m-d') }}
      {% endif %}
      <br />
      {{ killer.adresse }}
      <br />
      
      
      
    </div>
    
    {# On n'affiche pas le formulaire si l'utilisateur n'est pas admin 
    ET si participe déja #}
    {% if user is not null %}
        {% if killer.userAdmin.id != user.id and newPlayer is not null %}
            {{ form_start(formParticipation) }}
            
            {# Les erreurs générales du formulaire. #}
            {{ form_errors(formParticipation) }}
            {{ form_widget(formParticipation.save) }}
            
            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(formParticipation) }}
        {% endif %}
    {% endif %}
    
    {# On n'affiche les droits de gestion des participants #}
    {% if killer.userAdmin.id == user.id %}
        <ul>
            <h5>Liste d'attente des participants</h5>
      		{% for i, participant in participants %}
        	    {# On inclut la vue à chaque itération dans la boucle #}
        			{% include "GamesKillerBundle:Default:participants.html.twig" %}
        		<hr />
      		{% else %}
        		<p>Pas (encore !) de participants :(</p>
      		{% endfor %}
    	</ul>
    	{# On affiche le bouton commencer ssi il n'y pas de date de début#}
    	{% if killer.dateBegin is null %}
    	
    	 <a href="{{ path('games_killer_setKillerOn', {'id': killer.id} ) }}">
    	   <button>Que les jeux commencent!!</button>
    	 </a>
    	      	   
    	{% endif %}
	
    {% endif %}
        
</div>
{% endblock %}



{% block script %}
    <script> $('#consultKiller').addClass('active')</script>
{% endblock %}