{# On étend notre layout #}
{% extends "::layout.html.twig" %}



{# Dans notre layout, il faut définir le block body #}
{% block body %}
<div class="container">
    <h3>{{ killer.name }}</h3>
    
    <div class="well">
      {% if killer.dateBegin is not null %}
        Date debut du Killer : {{ killer.dateBegin|date('Y-m-d') }}
      {% endif %}
      <br />
      {% if killer.dateEnd is not null %}
        Date fin du Killer : {{ killer.dateEnd|date('Y-m-d H:i:s') }}
      {% endif %}
      
      <br />
      {{ killer.adresse }}
      
       <br />
      
      
      
    </div>
    {{ form_start(form) }}
    
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
    {{ form_widget(form.save) }}
    
    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
</div>
{% endblock %}

{% block script %}
    <script> $('#consultKiller').addClass('active')</script>
{% endblock %}