{# On étend notre layout #}
{% extends "::layout.html.twig" %}



{# Dans notre layout, il faut définir le block body #}
{% block body %}
<div class="container">
    <h3>{{ killer.name }} est en cours!!</h3>
    
    
    <div class="well">
      {% if killer.dateBegin is not null %}
        Date debut du Killer : {{ killer.dateBegin|date('Y-m-d') }}
      {% endif %}
      <br />
      {% if killer.dateEnd is not null %}
        Date fin du Killer : {{ killer.dateEnd|date('Y-m-d H:i:s') }}
      {% endif %}
      <br />
        Est créé par {{ killer.userAdmin.username }}
      <br />
      {{ killer.adresse }}
      <br />
      
    </div>
    
    {# On n'affiche les droits de gestion des participants #}
    {% if killer.userAdmin.id == user.id %}
        <ul>
            <h5>Voici la liste des participants en course!</h5>
      		{% for participant in participants %}
        	    <div class="well">
        	    
        	       <strong>{{ participant.user.username }}</strong>
        	       doit tuer <strong>{{ participant.playerToKill.user.username }}</strong> 
        	       avec <strong>{{ participant.playerToKill.object.name }}</strong>
        	       
        	    </div>	
      		{% endfor %}
    	</ul>
	
    {% endif %}
</div>



{% endblock %}



{% block script %}
    <script> $('#consultKiller').addClass('active')</script>
{% endblock %}