{# On étend notre layout #}
{% extends "::layout.html.twig" %}



{# Dans notre layout, il faut définir le block body #}
{% block body %}
<div class="container">
    <h3>{{ killer.name }} pas encore démarré.</h3>
    
    <div class="well">
        {% include "GamesKillerBundle:Default/Tool:displayAKillerInformations.html.twig" %}
    </div>
    
    {# On n'affiche pas le formulaire si l'utilisateur n'est pas admin 
    ET si participe déja #}
    {% if user is not null %}
        {# Le user n'est pas admin et n'est pas inscrit #}
        {% if killer.userAdmin.id != user.id and newPlayer is not null %}
            {{ form_start(formParticipation) }}
            
            {# Les erreurs générales du formulaire. #}
            {{ form_errors(formParticipation) }}
            {{ form_widget(formParticipation.save, {'attr': {'class': 'btn btn-primary'}}) }}
            
            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(formParticipation) }}
        {# Le user n'est pas admin et est DEJA inscrit (LE KILLER N EST PAS COMMENCE)#}
        {% elseif killer.userAdmin.id != user.id %}
            <div class="well">
    		  <div class="col-sm-12">
    		      <span class="glyphicon glyphicon-time"></span> 
    		      Patience, le Killer ne commencera que quand l'administrateur l'aura validé !
    		  </div>
    		  <br />
		     </div>
        {% endif %}
        
    {% endif %}
    
    {# On n'affiche les droits de gestion des participants #}
    {% if killer.userAdmin.id == user.id %}
        <ul>
            <h5>Liste d'attente des participants</h5>
            <div class="col-sm-12">
      		{% for i, participant in participants %}
        	    {# On inclut la vue à chaque itération dans la boucle #}
        	    
        		{% include "GamesKillerBundle:Default:participants.html.twig" %}
        		
        		
      		{% else %}
        		<p>Pas (encore !) de participants :(</p>
      		{% endfor %}
      		</div>
    	</ul>
    	 
    	{# On affiche le bouton commencer ssi il n'y pas de date de début#}
    	{% if killer.dateBegin is null and participants |length > 1%}
    	 <br />
    	 <a href="{{ path('games_killer_setKillerOn', {'id': killer.id} ) }}">
    	   <button class="btn btn btn-primary" type="submit">Que les jeux commencent!!</button>  
    	 </a>
    	{% else %}   
    	   <div class="col-sm-12">
    		 <span class="glyphicon glyphicon-time"></span> 
    		  Un Killer ne peut être commencé que si il a au moins deux participants !
    		</div>	
    	{% endif %}
	
    {% endif %}
        
</div>
{% endblock %}



{% block script %}
    <script> $('#consultKiller').addClass('active')</script>
{% endblock %}
