{# On étend notre layout #}
{% extends "::layout.html.twig" %}



{# Dans notre layout, il faut définir le block body #}
{% block body %}
<div class="container">
    <h3>{{ killer.name }} {{ killer.dateEnd is null ? 'est en cours' : 'est terminé' }} !!</h3>
    
    <div class="well">
        {% include "GamesKillerBundle:Default/Tool:displayAKillerInformations.html.twig" %}
    </div>
    
    <ul>
        {% if participants.playerToKill != null %}
            <h5>Voici votre objectif</h5>
      		
    	    <div class="well">
    	       <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
    	       Tu dois tuer <strong>{{ participants.playerToKill.user.username }}</strong> 
    	       avec <strong>{{ participants.playerToKill.weapon.name }}</strong>
    	    </div>	
      	{% else %}
      	    <h5>Félicitations vous êtes le grand gagnant!</h5>	
    	{% endif %}	
	</ul>
	
	{% if playerEliminationForm != null and participants.playerToKill != null and participants.isDead == false %}
        
        <div class="well col-sm-6">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <h4>J'ai tué ma victime!</h4>
              {{ form_start(playerEliminationForm, {'attr': {'class': 'form-horizontal'}}) }}
            
              {# Les erreurs générales du formulaire. #}
              {{ form_errors(playerEliminationForm) }}
              
              {# Idem pour un autre champ. #}
              <div class="form-group">
                {{ form_label(playerEliminationForm.password, "Entrez le mot de passe", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {{ form_errors(playerEliminationForm.password) }}
                  
                <div class="col-sm-7">
                  {{ form_widget(playerEliminationForm.password, {'attr': {'class': 'form-control'}}) }}
                  
                  {# Message pour l'erreur #}
                  {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        {{ flashMessage }}
                    </div>
                  {% endfor %}
                </div>
              </div>
              
              {# Génération du label + error + widget pour un champ #}
              {{ form_row(playerEliminationForm.password) }}
            
              {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
              {{ form_widget(playerEliminationForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
        
              {# Fermeture de la balise <form> du formulaire HTML #}
              {{ form_end(playerEliminationForm) }}
        </div>	
        
        <br />
        
        
        <div class="well col-sm-5 col-sm-offset-1">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <h4>Je me suis fait tuer!</h4>
            Donne le code suivant à ton assassin : {{ participants.password }}
        </div>	
        
    {% endif %}	 
    
    {% if participants.isDead == true %}
        <h4>Désolé, mais on vous a tué sur ce Killer !</h4>
    {% endif %}	   
</div>

{% endblock %}



{% block script %}
    <script> $('#consultKiller').addClass('active')</script>
{% endblock %}