{# On étend notre layout #}
{% extends "::layout.html.twig" %}



{# Dans notre layout, il faut définir le block body #}
{% block body %}
<div class="container">
    <h3>{{ killer.name }} est en cours!!</h3>
    
    <div class="well">
        {% include "GamesKillerBundle:Default/Tool:displayAKillerInformations.html.twig" %}
    </div>
    
    {# On n'affiche les droits de gestion des participants #}
    {% if killer.userAdmin.id == user.id %}
        <ul>
            <h5>Voici la liste des participants en course !</h5>
      		{% for participant in participants %}
        	    <div class="well">
        	       {% if participant.isDead %}
        	           <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            	       <strong>{{ participant.user.firstName }} {{ participant.user.name }}</strong> 
            	       a été tué le {{ participant.deathDate|date('d/m/Y à H:i') }}.
            	       Il avait tué {{ participant.numKills }} personnes.
        	       {% else %}
            	       <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
            	       <strong>{{ participant.user.firstName }} {{ participant.user.name }}</strong>
            	       doit tuer <strong>{{ participant.playerToKill.user.firstName }} {{ participant.playerToKill.user.Name }}</strong> 
            	       avec <strong>{{ participant.playerToKill.object.name }}</strong>.
            	       Il a actuellement tué {{ participant.numKills }} personnes.
                   {% endif %}
        	    </div>	
      		{% endfor %}
    	</ul>
	
    {% endif %}
</div>



{% endblock %}



{% block script %}
    <script> $('#consultKiller').addClass('active')</script>
{% endblock %}