{# src/Sdz/BlogBundle/Resources/views/Blog/article.html.twig #}



<div class="well">
  {{ participant.user.username }}

  
  {{ form_start(formParticipants[i]) }}
    
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(formParticipants[i]) }}
    {{ form_widget(formParticipants[i].save) }}
    
    {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(formParticipants[i]) }}
</div>

