{# src/Sdz/BlogBundle/Resources/views/Blog/article.html.twig #}



<div class="well">

    <div class="form-group">
        <div class="col-sm-3">
            {{ participant.user.username }}
    
            {{ form_start(formParticipants[i], {'attr': {'class': 'form-horizontal'}}) }}
        
            {{ form_errors(formParticipants[i]) }}
        
         
                    </div>
        <div class="col-sm-2">
          {# Génération de l'input. #}
          {{ form_widget(formParticipants[i].isAllowed) }}
        </div>
        <div class="col-sm-1">
            {{ form_widget(formParticipants[i].save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    
    
    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(formParticipants[i]) }}
    </div>
    <br /> 
</div>

