<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
A été créé le : {{ killer.dateCreation|date('d M Y') }}
<br />

{% if killer.dateBegin is not null %}
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> 
    Date début le : {{ killer.dateBegin|date('d M Y') }}
    <br />
{% endif %}
  
{% if killer.dateEnd is not null %}
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    Date Fin le : {{ killer.dateEnd|date('d M Y') }}
    <br />
{% endif %}

<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
Est créé par : {{ killer.userAdmin.username }}
<br />

<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
{{ killer.adresse }}
<br />
