{# On étend notre layout #}
{% extends "::layout.html.twig" %}


{# Dans notre layout, il faut définir le block body #}
{% block body %}
<div class="container">
    <h3>Crééz votre compte. C'est par ici!</h3>
     
    <div class="well">
        {# {{ form(form) }} #}      
        <form method="post" name="games_userbundle_user">
            <fieldset>
                <legend>Veuillez entrer les informations suivantes :</legend>
                {{ form_row(form.username) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.name) }}
                {{ form_row(form.plainpassword) }}
                {{ form_row(form.email) }}
                <br />
                <input name="games_userbundle_user[save]" id="games_userbundle_user_save" type="submit" value="Enregistrer" />
                {{ form_widget(form._token) }}
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}